/* Custom scrollbar styles */
.project-section {
  cursor: pointer;
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .project-section::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  .project-section::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
  }
  
  .project-section::-webkit-scrollbar-thumb {
    background-color: #888; /* Thumb color */
    border-radius: 6px; /* Roundness of the scroll thumb */
    border: 3px solid #f1f1f1; /* Space around thumb */
  }
  
  .project-section::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb color on hover */
  }
  